.intro {
  width: 1000px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: Helvetica, 'Segoe UI', Verdana, Arial, sans-serif;
}
.data {
  font-weight: bold;
}
.top-frame {
  overflow: hidden;
  width: 100%;
}
.age-plot, .maxk-plot {
  float: left;
}
