body {
  padding: 0;
  margin: 0;
  background-color: #e9e9ef;
  font-family: 'Montserrat', sans-serif;
}

.inner-body {
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 8em;
  background-color: #fafaff;
  margin: 0;
  padding: 1em;
}
.title {
  float: left;
  text-decoration: none;
}
.main-title {
  color: #191919;
  margin-bottom: 0;
  margin-top: 1em;
}
.sub-title {
  color: #252525;
  font-size: 1.3em;
  font-style: italic;
  margin-top: 0;
  text-align: right;
}
.logo {
  float: right;
  max-height: 12em;
}
.menubar {
  height: 4em;
  background-color: #353535;
  color: white;
}
.menubar a {
  color: white;
  text-decoration: none;
}
.menubar a:hover {
  color: red;
}
.current a {
  color: red !important;
}
.menu-items {
  margin: 0;
  padding: 0;
  height: 4em;
}
.menu-item {
  display: inline-block;
  font-size: 1em;
  margin: 0;
  margin-right: 2em;
  padding: 0;
}
.menu-item a {
  display: block;
  line-height: 1em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.menu-item a:hover {
  background-color: #2a2a2a;
}
.content {
  padding-top: 2em;
}
.summary {
  display: none;
}
.leftside {
  float: left;
  width: 64%;
  margin-right: 1%;
  font-size: 1.2em;
  padding-bottom: 2em;
}
.leftside p {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.leftside h3 {
  margin-left: 1.3em;
  margin-right: 1.3em;
  margin-top: 2em;
}
.rightside {
  float: right;
  width: 34%;
  margin-left: 1%;
}
.leftside, .info-1, .info-2, .summary {
  background-color: #fafaff;
}
.info-1, .summary {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-size: 1.1em;
}
.info-1 p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.summary .info-title {
  font-size: 1.3em;
  margin-bottom: 0.2em;
}
.summary .info-subtitle {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0.4em;
}
.summary {
  overflow: hidden;
}
.info-list {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: none;
  padding-left: 0;
  text-align: left;
  font-size: 0.95em;
}
.info-list li {
  line-height: 1.2em;
  padding-bottom: 5px;
  padding-top: 5px;
}
.summary li {
  padding-bottom: 0;
  padding-top: 0;
}
.info-subtitle {
  font-size: 0.8em;
}
.info-number {
  font-size: 1.25em;
  margin-bottom: 0;
}
.info-number-title {
  font-size: 0.85em;
}
.info-appointments {
  font-size: 0.85em;
  margin-top: 0;
}
.info-2 {
  margin-top: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  font-size: 1.1em;
}
.footer {
  clear: both;
  text-align: center;
  padding-top: 4em;
  padding-bottom: 3em;
  line-height: 1.5em;
}
.textmark {
  font-variant: small-caps;
  text-decoration: none;
  color: #6e7fd2;
}
.textmark:hover {
  text-decoration: underline;
}

@media (min-width: 1000px) {
  .inner-body {
    width: 950px;
  }
}
@media (min-width: 800px) and (max-width: 999px) {
  body {
    font-size: 0.9em;
  }
  .inner-body {
    width: 750px;
  }
}
@media (max-width: 799px) {
  body {
    font-size: 0.8em;
  }
  .leftside, .rightside {
    float: none;
    width: 100%;
  }
  .summary {
    display: block;
  }
  .info-1, .info-2 {
    display: none;
  }
  .inner-body {
    width: 550px;
  }
  .summary .info-list {
    float: left;
  }
  .summary .number-and-appt {
    float: right;
  }
}
